
@media (min-width:260px) {
    
.menuCard-outer{
    height: auto;
    width: 100%;
    /* border:1px solid red; */
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 1rem 0.5rem;
    justify-content: space-evenly;
}

.menuCards-details{
    /* border: 1px solid red; */
    padding: 0rem;
    flex-direction:column;
}


.category{
    color: rgb(66, 66, 66);
    font-size: 1rem;
    padding: 0.1rem;
    font-weight: 400;
}

.menu-name{
    font-size:1 rem;
    font-weight: 300;
    /* padding: 0.1rem; */
    padding-bottom: 0.2rem;
    color: rgb(56, 56, 56);
    
}


.menu-RPS-box{
    border-top: 1px solid gainsboro;
    margin-top: 2px;
    /* border: 1px solid red;    */

}

.menu-rating{
    margin: 0.3rem 0.2rem ;
    padding: 0.2rem 0.4rem;
}


.menu-price{
    margin: 0.3rem 0.2rem ;
    padding: 0.2rem;
    font-size:1 rem;
}

.menu-inStock{
    margin: 0.3rem 0.5rem ;
    padding: 0.2rem;
    font-size:1 rem;
}



}

@media (min-width:320px) {
    .menuCard-outer{
        height: auto;
        width: 100%;
        /* border:1px solid red; */
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 1rem 0.5rem;
    }
    
    .menuCards-details{
        /* border: 1px solid red; */
        padding: 0rem .2rem;
        flex-direction:column;
    }
    
    
    .category{
        color: rgb(75, 72, 72);
        font-size: 1.1rem;
        padding: 0.1rem;
        font-weight: 400;
    }
    
    .menu-name{
        font-size: 1rem;
        font-weight: 300;
        /* padding: 0.1rem; */
        padding-bottom: 0.2rem;
        color: rgb(68, 68, 68);
        
    }
    
    
    .menu-RPS-box{
        border-top: 1px solid gainsboro;
        margin-top: 2px;
        /* border: 1px solid red;    */
    
    }
    
    .menu-rating{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem 0.4rem;
    }
    
    
    .menu-price{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
    
    .menu-inStock{
        margin: 0.3rem 0.5rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
    
    .menu-addTo-fav{
        font-size: 1.1rem;
        
    }
    
}

@media (min-width: 481px) {
    .menuCard-outer{
        height: auto;
        width: 90%;
        /* border:1px solid red; */
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 1rem 0.5rem;
    }
    
    .menuCards-details{
        /* border: 1px solid red; */
        padding: 0rem;
        flex-direction:column;
    }
    
    
    .category{
        color: rgb(66, 66, 66);
        font-size: 1.1rem;
        padding: 0.1rem;
        font-weight: 400;
    }
    
    .menu-name{
        font-size: 1rem;
        font-weight: 300;
        /* padding: 0.1rem; */
        padding-bottom: 0.2rem;
        color: rgb(56, 56, 56);
        
    }
    
    
    .menu-RPS-box{
        border-top: 1px solid gainsboro;
        margin-top: 2px;
        /* border: 1px solid red;    */
    
    }
    
    .menu-rating{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem 0.4rem;
    }
    
    
    .menu-price{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
    
    .menu-inStock{
        margin: 0.3rem 0.5rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
    
 
    
}

@media (min-width: 769px) {
    .menuCard-outer{
        height: auto;
        width: 80%;
        /* border:1px solid red; */
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 1rem 0.5rem;
    }
    
    .menuCards-details{
        /* border: 1px solid red; */
        padding: 0rem;
        flex-direction:column;
    }
    
    
    .category{
        color: rgb(66, 66, 66);
        font-size: 1.1rem;
        padding: 0.1rem;
        font-weight: 400;
    }
    
    .menu-name{
        font-size: 1rem;
        font-weight: 300;
        /* padding: 0.1rem; */
        padding-bottom: 0.2rem;
        color: rgb(56, 56, 56);
        
    }
    
    
    .menu-RPS-box{
        border-top: 1px solid gainsboro;
        margin-top: 2px;
        /* border: 1px solid red;    */
    
    }
    
    .menu-rating{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem 0.4rem;
    }
    
    
    .menu-price{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
    
    .menu-inStock{
        margin: 0.3rem 0.5rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
    
}

@media (min-width: 1025px) {
    .menuCard-outer{
        height: auto;
        width: 70%;
        /* border:1px solid red; */
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 1rem 0.5rem;
    }
    
    .menuCards-details{
        /* border: 1px solid red; */
        padding: 0rem;
        flex-direction:column;
    }
    
    
    .category{
        color: rgb(66, 66, 66);
        font-size: 1.1rem;
        padding: 0.1rem;
        font-weight: 400;
    }
    
    .menu-name{
        font-size: 1rem;
        font-weight: 300;
        /* padding: 0.1rem; */
        padding-bottom: 0.2rem;
        color: rgb(56, 56, 56);
        
    }
    
    
    .menu-RPS-box{
        border-top: 1px solid gainsboro;
        margin-top: 2px;
        /* border: 1px solid red;    */
    
    }
    
    .menu-rating{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem 0.4rem;
    }
    
    
    .menu-price{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
    
    .menu-inStock{
        margin: 0.3rem 0.5rem ;
        padding: 0.2rem;
        font-size:1rem;
    }
}

@media (min-width: 1201px) {
    .menuCard-outer{
        height: auto;
        width: 70%;
        /* border:1px solid red; */
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 1rem 0.5rem;
    }
    
    .menuCards-details{
        /* border: 1px solid red; */
        padding: 0rem;
        flex-direction:column;
    }
    
    
    .category{
        color: rgb(66, 66, 66);
        font-size: 1.2rem;
        padding: 0.1rem;
        font-weight: 400;
    }
    
    .menu-name{
        font-size: 1.1rem;
        font-weight: 300;
        /* padding: 0.1rem; */
        padding-bottom: 0.2rem;
        color: rgb(56, 56, 56);
        
    }
    
    
    .menu-RPS-box{
        border-top: 1px solid gainsboro;
        margin-top: 2px;
        /* border: 1px solid red;    */
    
    }
    
    .menu-rating{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem 0.4rem;
    }
    
    
    .menu-price{
        margin: 0.3rem 0.2rem ;
        padding: 0.2rem;
        font-size:1.1rem;
    }
    
    .menu-inStock{
        margin: 0.3rem 0.5rem ;
        padding: 0.2rem;
        font-size:1.1rem;
    }
}