
@media (min-width:260px) {
    .menu-outer{
        width:100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    
    .menu-heading{
        width:100%;
        height: auto;
        padding: 1rem 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(75, 75, 75);
        /* border: 1px solid red; */
    
    }
    
    .menu-inner{
        width: 100%;
        height: auto;
        min-height: 90vh;
        /* border: 1px solid rgb(17, 15, 15); */
        padding: 0.5rem;
    
        /* justify-content: space-around; */
    }
}

@media (min-width:320px) {

    .menu-outer{
        width:100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    
    .menu-heading{
        width:100%;
        height: auto;
        padding: 1rem 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(75, 75, 75);
        /* border: 1px solid red; */
    
    }
    
    .menu-inner{
        width: 100%;
        height: auto;
        min-height: 90vh;
        /* border: 1px solid rgb(17, 15, 15); */
        padding: 0.5rem;
    
        /* justify-content: space-around; */
    }
}

@media (min-width: 481px) {
    .menu-outer{
        width:100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    
    .menu-heading{
        width:100%;
        height: auto;
        padding: 1rem 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(75, 75, 75);
        /* border: 1px solid red; */
    
    }
    
    .menu-inner{
        width: 100%;
        height: auto;
        min-height: 90vh;
        /* border: 1px solid rgb(17, 15, 15); */
        padding: 0.5rem;
    
        /* justify-content: space-around; */
    }
}

@media (min-width: 769px) {
    .menu-outer{
        width:100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    
    .menu-heading{
        width:80%;
        height: auto;
        padding: 1rem 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(75, 75, 75);
        /* border: 1px solid red; */
    
    }
    
    .menu-inner{
        width: 90%;
        height: auto;
        min-height: 90vh;
        /* border: 1px solid rgb(17, 15, 15); */
        padding: 0.5rem;
    
        /* justify-content: space-around; */
    }
}

@media (min-width: 1025px) {
    .menu-outer{
        width:100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    
    .menu-heading{
        width:80%;
        height: auto;
        padding: 1rem 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(75, 75, 75);
        /* border: 1px solid red; */
    
    }
    
    .menu-inner{
        width: 80%;
        height: auto;
        min-height: 90vh;
        /* border: 1px solid rgb(17, 15, 15); */
        padding: 0.5rem;
    
        /* justify-content: space-around; */
    }
}

@media (min-width: 1201px) {
    .menu-outer{
        width:99vw;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    
    .menu-heading{
        width:70%;
        height: auto;
        padding: 1rem 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(75, 75, 75);
        /* border: 1px solid red; */
    
    }
    
    .menu-inner{
        width: 70%;
        height: auto;
        min-height: 90vh;
        /* border: 1px solid rgb(17, 15, 15); */
        padding: 0.5rem;
    
        /* justify-content: space-around; */
    }
}